* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMonoNerdFont, JetBrainsMonoNerdFont-Regular, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
background-color: rgba(255, 209, 220, 0.8);
/*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: black;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 20px;
    /*    box-shadow: 0px 2px 6px 0px #00374F;*/
    /*margin-top: 10px;*/

}

window#waybar.hidden {
    opacity: 0.2;
}



button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px rgba(217, 154, 188,1), inset 0 1px rgba(217, 154, 188,1), inset -1px 0px  rgba(217, 154, 188,1), inset 1px 0px rgba(217, 154, 188,1);
}

#workspaces {
	padding-top: 1px;
	padding-bottom: 1px;
}

#workspaces button {
    padding: 0 6px;
    min-width:1.3em;
    background-color: transparent;
    
    color: #000000;
    border-radius:10px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #D99ABC;
    box-shadow: inset 0 -3px rgba(166, 91, 105,0.7), inset 0 1px rgba(166, 91, 105,0.7), inset -1px 0px  rgba(166, 91, 105,0.7), inset 1px 0px rgba(166, 91, 105,0.7);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right {
	background-color: rgba(217, 154, 188,0.5);
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 30px;
	
}

#clock {
    
}

#battery {
    /*background-color: #ffffff;*/
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


label:focus {
    background-color: #000000;
}

#cpu {
    /*background-color: #2ecc71;*/
    color: #000000;
}

#memory {
	color: #000000;
    /*background-color: #9b59b6;*/
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
/*    background-color: #f1c40f;*/
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /*background-color: #2980b9;*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    /*background-color: #66cc99;
    color: #2a5c45;*/
}

#mpd.disconnected {
/*    background-color: #f53c3c;*/
}

#mpd.stopped {
/*    background-color: #90b1b1;*/
}

#mpd.paused {
/*    background-color: #51a37a;*/
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
